:root {
  --type-fire: #F08030;
  --type-water: #6890F0;
  --type-grass: #78C850;
  --type-electric: #F8D030;
  --type-ice: #98D8D8;
  --type-fighting: #C03028;
  --type-poison: #A040A0;
  --type-ground: #E0C068;
  --type-flying: #A890F0;
  --type-psychic: #F85888;
  --type-bug: #A8B820;
  --type-rock: #B8A038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038F8;
  --type-steel: #B8B8D0;
  --type-fairy: #EE99AC;
  --type-normal: #A8A878;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newSizeNav {
  width: 100%;
}

.newSizeNavContent {
  max-width: 1780px;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 0 !important;
}

.logo {
  height: 40px;
  width: 40px;
}

.bodyButtonOnTheBottom {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.loadPreviousButton {
  width: 100px;
}

.loadNextButton {
  width: 100px;
}

/* Pokémon-Typen */
.type-normal {
  background-color: #A8A77A;
}

.type-fire {
  background-color: #EE8130;
}

.type-water {
  background-color: #6390F0;
}

.type-electric {
  background-color: #F7D02C;
}

.type-grass {
  background-color: #7AC74C;
}

.type-ice {
  background-color: #96D9D6;
}

.type-fighting {
  background-color: #C22E28;
}

.type-poison {
  background-color: #A33EA1;
}

.type-ground {
  background-color: #E2BF65;
}

.type-flying {
  background-color: #A98FF3;
}

.type-psychic {
  background-color: #F95587;
}

.type-bug {
  background-color: #A6B91A;
}

.type-rock {
  background-color: #B6A136;
}

.type-ghost {
  background-color: #735797;
}

.type-dragon {
  background-color: #6F35FC;
}

.type-dark {
  background-color: #705746;
}

.type-steel {
  background-color: #B7B7CE;
}

.type-fairy {
  background-color: #D685AD;
}

/* Pokémon-Farben */
.color-red {
  background-color: #D62828;
}

.color-blue {
  background-color: #457B9D;
}

.color-yellow {
  background-color: #F4A261;
}

.color-green {
  background-color: #2A9D8F;
}

.color-black {
  background-color: #222222;
}

.color-brown {
  background-color: #8B4513;
}

.color-purple {
  background-color: #9B5DE5;
}

.color-gray {
  background-color: #A0A0A0;
}

.color-white {
  background-color: #F8F9FA;
}

.color-pink {
  background-color: #FF69B4;
}

.card-header-all {
  padding-bottom: 0 !important;
}

.pokemonRenderSection {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.pokemon-card {
  border: #A0A0A0 2px solid;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
}

.pokemon-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: var(--type-electric);
}

.cardButtons {
  display: flex;
  justify-content: space-around;
}

.cardButtonsDesign {
  width: 120px;
  margin-top: 10px;
}

.evo-picture {
  width: 80px;
  height: 80px;
  border: #ccc 1px solid;
  border-radius: 8px;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.evo-picture:hover {
  transform: translateY(10px) scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.evo-picture:active {
  transform: scale(0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
  display: flex;
  flex-direction: column;
}

.overlayPokemonCard {
  background-color: white;
  border: #A0A0A0 2px solid;
  border-radius: 10px;
  padding: 8px;
  margin: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 32rem;
  max-width: 90%;
  z-index: 900;
  cursor: pointer;
}

.overlayCardIdName {
  width: 50%;
}

.card-title {
  margin: 0 !important;
}

.cardInOverlay {
  width: 440px;
  height: 800px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.groupcard-main-stats-evo {
  height: 240px;
  width: 100%;
}

.page-Main-Stats-Evo {
  height: 254px;
  width: 100%;
}

.card-text-main-stats-evo {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: normal;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
}

.underImageSection {
  display: flex;
  align-items: center;

}

.card-img-top-overlay {
  height: 370px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}


.card-body-overlay-under-image {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;

}

.card-badges {
  display: flex;
  justify-content: space-around;
}

.badgeOfType {
  width: 100px;
  height: 30px;
  border: #A0A0A0 1px solid;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.underImageSection {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.spalte1 {
  width: 33%;
  font-weight: bold;
}

.spalte2 {
  width: 20%;
}

.spalte3 {
  width: 54%;
}

.spalte4 {
  width: 80%;
}

.spalte0 {
  width: 0%;
}

.cardMainSectionAbilitys {
  display: flex;
}

.evo-names,
.evo-pictures {
  display: flex;
  justify-content: space-around;/ align-items: center;
  margin: 10px 0;
  margin-bottom: 16px;
}

.evo-picture {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;/ border-radius: 8px;/ object-fit: cover;
  transition: transform 0.3s ease;
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.rotating-image {
  width: 200px;
  height: 200px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.card-title-main {
  margin-bottom: 10px !important;
}

.card-title-Stats {
  margin-bottom: 16px !important;
}

.stat-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.stat-name {
  width: 79px;
  white-space: nowrap;
  flex: 1;
  font-weight: bold;
  text-transform: capitalize;
}

.stat-value {
  width: 50px;
  text-align: right;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.progress {
  width: 200px;
  flex: 3;
  height: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  background-color: #007bff;
  height: 100%;
  transition: width 0.6s ease;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.cancelFilteredPokemons {
  display: flex;
  justify-content: center;
}

.impressum {
  max-width: 1920px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.impressum h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #007bff;
}

.impressum p {
  margin-bottom: 15px;
}

.impressum strong {
  font-weight: bold;
}

.impressum a {
  color: #007bff;
  text-decoration: none;
}

.impressum a:hover {
  text-decoration: underline;
}

.impressum br {
  line-height: 2;
}

.pressTheButtonText {
  display: block;
  text-align: center;
  margin-top: 26px;
  font-size: 14px;
  color: #555;
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

/* --------------------------------------------------------------------- */
@media (max-width: 1024px) {
  .overlayPokemonCard {
    width: 600px;
    padding: 15px;
  }

  .pokemon-card {
    width: 277px;
    margin: 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .impressum {
    padding: 15px;
    font-size: 16px;
  }

}

/* --------------------------------------------------------------------- */


@media (max-width: 768px) {
  .overlayPokemonCard {
    width: 500px;
    padding: 10px;
  }

  .pokemon-card {
    width: 276px;
    margin: 10px auto;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-brand {
    font-size: 18px;
  }

  .impressum {
    padding: 10px;
    font-size: 14px;
  }

  .cardButtonsDesign {
    width: 110px;
    font-size: 12px;
  }

}

/* --------------------------------------------------------------------- */

@media (max-width: 628px) {
  .overlayPokemonCard {
    width: 156px;
    padding: 4px;
  }

  .pokemon-card {
    width: 138px;/ margin: 5px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-brand {
    font-size: 8px;
  }

  .impressum {
    padding: 4px;
    font-size: 6px;
  }

  .cardButtonsDesign {
    width: 50px;
    font-size: 5px;

  }

  .evo-picture {
    width: 40px;
    height: 40px;
  }

  .card-text-main-stats-evo {
    font-size: 10px;
  }

  .badgeOfType {
    width: 50px;
    height: 15px;
    font-size: 8px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .rotating-image {
    width: 100px;
    height: 100px;
  }

  .cardPokemonName {
    font-size: 16px;
  }

  .card {
    width: 7.3rem !important;
  }

  .pokemonRenderSection {
    gap: 0;
    padding: 0px;
  }

  .card-body-badges {
    padding: 8px !important;
  }

  .badgeOfType {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 628px) {
  .card-for-mobile-size {
    width: 100% !important;
    max-width: 300px;
    margin: 0 auto;/ padding: 1px;
    box-sizing: border-box;
  }

  .cardInOverlay {
    width: 300px;
    height: 600px;
    padding: 8px;
  }

  .card-title {
    font-size: 16px;
    text-align: center;
  }

  .card-img-top-overlay {
    height: 200px;
    width: 100%;
    object-fit: contain;
  }

  .card-body-overlay-under-image {
    padding: 4px;
  }

  .card-badges {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }

  .badgeOfType {
    width: 42px;
    height: 20px;
    font-size: 10px;
  }

  .card-title-Stats {
    margin-bottom: 24px !important;
  }


  .groupcard-main-stats-evo {
    height: 237px;
    margin-top: 8px;
  }

  .page-Main-Stats-Evo {
    height: 237px;
    padding: 6px !important;
    margin-right: 0;
  }

  .stat-row {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
  }

  .stat-name {
    width: 80px;
    font-size: 10px;
    display: flex;
    justify-content: start;
  }

  .progress {
    flex: 0 0 150px;
    width: 150px !important;
    height: 8px;
    display: flex;
    overflow: hidden;
  }

  .stat-value {
    width: 20px;
    font-size: 12px;
  }

  .pressTheButtonText {
    font-size: 12px;
    margin-top: 10px;
  }

  .cardButtonsDesign {
    width: 84px;
    font-size: 10px;
    margin-top: 8px;
  }

  .spalte2 {
    white-space: nowrap;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .bodyButtonOnTheBottom {
    width: 260px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }

}