*{
    margin: 0;
    padding: 0;
}

/* Pokémon-Typen */
.type-normal { background-color: #A8A77A; }
.type-fire { background-color: #EE8130; }
.type-water { background-color: #6390F0; }
.type-electric { background-color: #F7D02C; }
.type-grass { background-color: #7AC74C; }
.type-ice { background-color: #96D9D6; }
.type-fighting { background-color: #C22E28; }
.type-poison { background-color: #A33EA1; }
.type-ground { background-color: #E2BF65; }
.type-flying { background-color: #A98FF3; }
.type-psychic { background-color: #F95587; }
.type-bug { background-color: #A6B91A; }
.type-rock { background-color: #B6A136; }
.type-ghost { background-color: #735797; }
.type-dragon { background-color: #6F35FC; }
.type-dark { background-color: #705746; }
.type-steel { background-color: #B7B7CE; }
.type-fairy { background-color: #D685AD; }

/* Pokémon-Farben */
.color-red { background-color: #D62828; }
.color-blue { background-color: #457B9D; }
.color-yellow { background-color: #F4A261; }
.color-green { background-color: #2A9D8F; }
.color-black { background-color: #222222; }
.color-brown { background-color: #8B4513; }
.color-purple { background-color: #9B5DE5; }
.color-gray { background-color: #A0A0A0; }
.color-white { background-color: #F8F9FA; }
.color-pink { background-color: #FF69B4; }

#pokemonRenderSection{
    display: flex;
    flex-wrap: wrap;
}

.pokemon-card{
    border: #A0A0A0 2px solid;
    border-radius: 6px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}