:root {
  --type-fire: #F08030;
  --type-water: #6890F0;
  --type-grass: #78C850;
  --type-electric: #F8D030;
  --type-ice: #98D8D8;
  --type-fighting: #C03028;
  --type-poison: #A040A0;
  --type-ground: #E0C068;
  --type-flying: #A890F0;
  --type-psychic: #F85888;
  --type-bug: #A8B820;
  --type-rock: #B8A038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038F8;
  --type-steel: #B8B8D0;
  --type-fairy: #EE99AC;
  --type-normal: #A8A878;
}

*{
    margin: 0;
    padding: 0;
}


.bodyButtonOnTheBottom{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

/* Pokémon-Typen */
.type-normal { background-color: #A8A77A; }
.type-fire { background-color: #EE8130; }
.type-water { background-color: #6390F0; }
.type-electric { background-color: #F7D02C; }
.type-grass { background-color: #7AC74C; }
.type-ice { background-color: #96D9D6; }
.type-fighting { background-color: #C22E28; }
.type-poison { background-color: #A33EA1; }
.type-ground { background-color: #E2BF65; }
.type-flying { background-color: #A98FF3; }
.type-psychic { background-color: #F95587; }
.type-bug { background-color: #A6B91A; }
.type-rock { background-color: #B6A136; }
.type-ghost { background-color: #735797; }
.type-dragon { background-color: #6F35FC; }
.type-dark { background-color: #705746; }
.type-steel { background-color: #B7B7CE; }
.type-fairy { background-color: #D685AD; }

/* Pokémon-Farben */
.color-red { background-color: #D62828; }
.color-blue { background-color: #457B9D; }
.color-yellow { background-color: #F4A261; }
.color-green { background-color: #2A9D8F; }
.color-black { background-color: #222222; }
.color-brown { background-color: #8B4513; }
.color-purple { background-color: #9B5DE5; }
.color-gray { background-color: #A0A0A0; }
.color-white { background-color: #F8F9FA; }
.color-pink { background-color: #FF69B4; }

#pokemonRenderSection{
    display: flex;
    flex-wrap: wrap;
}

.pokemon-card{
    border: #A0A0A0 2px solid;
    border-radius: 6px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
}

.pokemon-card:hover {
  transform: translateY(-10px) scale(1.05); /* Karte leicht anheben und vergrößern */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Schatten hinzufügen */
  border-color: var(--type-electric); /* Optional: Rahmenfarbe ändern */
}

.overlayPokemonCard{
    border: #A0A0A0 2px solid;
    border-radius: 6px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}

.cardButtons{
    display: flex;
    justify-content: space-around;
}

.cardButtonsDesign{
    width: 160px;
    margin-top: 10px;
}

.card-text-main-stats-evo{
    display: flex;
    flex-direction: column;
}

.evo-pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.evo-picture{
    width: 100px;
    height: 100px;
    border: #222222 1px dotted;
    border-radius: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 800;
    display: flex;
    flex-direction: column;
  }
  
  .overlayPokemonCard {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 32rem;
    max-width: 90%;
    z-index: 900;
  }

  .overlayCardIdName{
    width: 50%;
  }

  .cardInOverlay{
    width: 600px;
    height: 940px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .groupcard-main-stats-evo{
    height: 200px;
    width: 100%;
  }

  .page-Main-Stats-Evo{
    height: 240px;
    width: 100%;
  }

  .card-text-main-stats-evo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .underImageSection{
    display: flex;
  }

.card-badges{
  display: flex;
  justify-content:space-around;
}

  .badgeOfType{
    width: 100px;
    height: 30px;
    border: #A0A0A0 1px solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  .underImageSection{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .spalte1{
    width: 28%;
  }

  .spalte2{
    width: 22%;
  }

  .spalte3{
    width: 50%;
  }

  .spalte4{
    width: 80%;
  }

  .spalte0{
    width: 0%;
  }

  .cardMainSectionAbilitys{
    display: flex;
  }

.evo-pictures{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.evo-names{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.rotating-image {
  width: 200px;
  height: 200px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.stat-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stat-name {
  flex: 1;
  font-weight: bold;
  text-transform: capitalize;
}

.stat-value {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.progress {
  flex: 3;
  height: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  background-color: #007bff;
  height: 100%;
  transition: width 0.6s ease;
}